* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../stars-galaxy-3840x2560-10307.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.sun img {
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 6.6vw;
    width: 9vw;
    margin: 84px 10px;
    margin-left: 33px;
}

.sun {
    
    position: absolute;
    top: 53%;
    left: 58%;
    width: 23em;
    height: 23em;
    margin-top: -9em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
}

.mercury {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 10.3em;
    height: 10em;
    margin-top: -4em;
    margin-left: -180px;
    /* border: 1px solid white; */
    border-radius: 50%;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 12s;
}

.mercury img {
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 30px;
    width: 30px;
    margin: 84px 10px;
    margin-left: -26px;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 11s;
}

@keyframes orbit {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.venus img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 36.6px;
    margin: 84px 10px;
    margin-left: -22px;
    animation-name: orbit2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 7s;
}

.venus {
    position: absolute;
    top: 59%;
    left: 57%;
    width: 15.3em;
    height: 15em;
    /* border: 1px solid white; */
    border-radius: 50%;
    margin-top: -12em;
    margin-left: -15em;
    animation-name: orbit2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 30s;
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(360deg);
    }

}

.earth img {
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 47px;
    width: 48px;
    margin: 84px 10px;
    margin-left: -20px;
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;
}

.earth {
    position: absolute;
    top: 63%;
    left: 60%;
    width: 20.3em;
    height: 20em;
    /* border: 1px solid white; */
    border-radius: 50%;
    margin-top: -17em;
    margin-left: -20em;
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 80s;
}

@keyframes orbit3 {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(360deg);
    }

}

.mars {
    position: absolute;
    top: 61.6%;
    left: 64%;
    width: 27.3em;
    height: 27em;
    /* border: 1px solid white; */
    border-radius: 50%;
    margin-top: -20em;
    margin-left: -28em;
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
}

.mars img {
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 47px;
    width: 48px;
    margin: 84px 10px;
    margin-left: 26px;
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;
}

.jupiter {
    position: absolute;
    top: 95%;
    left: 73%;
    width: 36em;
    height: 36em;
    /* border: 1px solid white; */
    border-radius: 50%;
    margin-top: -42em;
    margin-left: -40em;
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 130s;
}

.jupiter img {
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 5vw;
    width: 5vw;
    /* margin: 84px 10px; */
    margin-left: 275px;
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 67s;
}

.saturn {
    position: absolute;
    top: 130%;
    left: 85%;
    width: 43em;
    height: 43em;
    /* border: 1px solid white; */
    border-radius: 50%;
    margin-top: -62em;
    margin-left: -55em;
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 140s;
}

.saturn img {
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 70px;
    width: 100px;
    /* margin: 84px 10px; */
    margin-left: 430px;
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 6s;
}

.uranus {
    position: absolute;
    top: -1%;
    left: 20.4%;
    transform: translate(-50% , -50%);
    width: 49.7em;
    height:49.7em;
    /* border: 1px solid white; */
    border-radius: 50%;
    /* margin-top: -72em;
    margin-left: -87em; */
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 80s;
}

.uranus img {
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 60px;
    width: 60px;
    margin-top: 190px;
    /* margin: 84px 10px; */
    /* margin-left: 800px; */
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
}

.neptune{
    position: absolute;
    top: -3%;
    left: 20.4%;
    transform: translate(-50% , -50%);
    width: 54.7em;
    height:54.7em;
    /* border: 0.4px solid white; */
    border-radius: 50%;
    /* margin-top: -90em;
    margin-left: -97em; */
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 120s;  
}

.neptune img{
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 100px;
    width: 100px;
    margin-top: 190px;
    /* margin: 84px 10px; */
    /* margin-left: 800px; */
    animation-name: orbit3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 100s;
}